<div class="wrapper">
  <!-- 導覽列-->
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="/">回到首頁</a>
      <div class="navbar-nav">
        <ul class="navbar-list">
          <li class="nav-item">
            <a class="nav-link {{about}}" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{portfolio}}" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{contact}}" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- 標題 -->
  <h1>{{title}}</h1>
</div>
